In [19]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.1.7)
Note: you may need to restart the kernel to use updated packages.

In [20]:

#Brandon Luy
#Meta Database Engineer Final Project
#Little Lemon Database Project

#Establish connection between MYSQL Connector and Python, using my own username and password
#Note: Clear User Creditentials before uplaoding to GIT
# Import MySQL Connector/Python
import mysql.connector as connector
connection=connector.connect(user="root",password="Kobe!1")


#Create Cursor to communicate with SQL
cursor = connection.cursor()


# Check if the database exists and create it if it doesn't
cursor.execute("SHOW DATABASES")
if 'little_lemon_db' not in [db[0] for db in cursor]:
    cursor.execute("CREATE DATABASE little_lemon_db")

# Use the database
cursor.execute("USE little_lemon_db")

#Create Tables for Database (MenuItems, Menu, Bookings, Orders, Employee)

#MenuItems
# Create Tables
create_menuitem_table = """CREATE TABLE IF NOT EXISTS MenuItems (
    ItemID INT AUTO_INCREMENT,
    Name VARCHAR(200),
    Type VARCHAR(100),
    Price INT,
    PRIMARY KEY (ItemID)
);"""

#Menu
create_menu_table = """CREATE TABLE IF NOT EXISTS Menus (
    MenuID INT,
    ItemID INT,
    Cuisine VARCHAR(100),
    PRIMARY KEY (MenuID,ItemID)
);"""

#Bookings
create_booking_table = """CREATE TABLE IF NOT EXISTS Bookings (
    BookingID INT AUTO_INCREMENT,
    TableNo INT,
    GuestFirstName VARCHAR(100) NOT NULL,
    GuestLastName VARCHAR(100) NOT NULL,
    BookingSlot TIME NOT NULL,
    EmployeeID INT,
    PRIMARY KEY (BookingID)
);"""

#Orders
create_orders_table = """CREATE TABLE IF NOT EXISTS Orders (
    OrderID INT,
    TableNo INT,
    MenuID INT,
    BookingID INT,
    BillAmount INT,
    Quantity INT,
    PRIMARY KEY (OrderID,TableNo)
);"""

#Employees
create_employees_table = """CREATE TABLE IF NOT EXISTS Employees (
    EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR (255),
    Role VARCHAR (100),
    Address VARCHAR (255),
    Contact_Number INT,
    Email VARCHAR (255),
    Annual_Salary VARCHAR (100)
);"""

# Function to check if a table exists and create it if it doesn't
def create_table_if_not_exists(cursor, create_table_sql, table_name):
    cursor.execute(f"SHOW TABLES LIKE '{table_name}'")
    result = cursor.fetchone()
    if not result:
        cursor.execute(create_table_sql)

# Create MenuItems table if not exists
create_table_if_not_exists(cursor, create_menuitem_table, 'MenuItems')

# Create Menus table if not exists
create_table_if_not_exists(cursor, create_menu_table, 'Menus')

# Create Bookings table if not exists
create_table_if_not_exists(cursor, create_booking_table, 'Bookings')

# Create Orders table if not exists
create_table_if_not_exists(cursor, create_orders_table, 'Orders')

# Create Employees table if not exists
create_table_if_not_exists(cursor, create_employees_table, 'Employees')


#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems = """
INSERT INTO MenuItems (Name, Type, Price)
VALUES
('Olives', 'Starters', 5),
('Flatbread', 'Starters', 5),
('Minestrone', 'Starters', 8),
('Tomato bread', 'Starters', 8),
('Falafel', 'Starters', 7),
('Hummus', 'Starters', 5),
('Greek salad', 'Main Courses', 15),
('Bean soup', 'Main Courses', 12),
('Pizza', 'Main Courses', 15),
('Greek yoghurt', 'Desserts', 7),
('Ice cream', 'Desserts', 6),
('Cheesecake', 'Desserts', 4),
('Athens White wine', 'Drinks', 25),
('Corfu Red Wine', 'Drinks', 30),
('Turkish Coffee', 'Drinks', 10),
('Turkish Coffee', 'Drinks', 10),
('Kabasa', 'Main Courses', 17);
"""


#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
('Mario Gollini', 'Manager', '724, Parsley Lane, Old Town, Chicago, IL', 351258074, 'Mario.g@littlelemon.com', '$70,000'),
('Adrian Gollini', 'Assistant Manager', '334, Dill Square, Lincoln Park, Chicago, IL', 351474048, 'Adrian.g@littlelemon.com', '$65,000'),
('Giorgos Dioudis', 'Head Chef', '879 Sage Street, West Loop, Chicago, IL', 351970582, 'Giorgos.d@littlelemon.com', '$50,000'),
('Fatma Kaya', 'Assistant Chef', '132 Bay Lane, Chicago, IL', 351963569, 'Fatma.k@littlelemon.com', '$45,000'),
('Elena Salvai', 'Head Waiter', '989 Thyme Square, EdgeWater, Chicago, IL', 351074198, 'Elena.s@littlelemon.com', '$40,000'),
('John Millar', 'Receptionist', '245 Dill Square, Lincoln Park, Chicago, IL', 351584508, 'John.m@littlelemon.com', '$35,000');
"""

# Populate MenuItems table
cursor.execute(insert_menuitems)
#print rows in table to check number of
print("Total number of rows in MenuItem table: {}\n".format(cursor.rowcount))
connection.commit()

# Populate MenuItems table
cursor.execute("TRUNCATE TABLE Menus")
cursor.execute(insert_menu)
print("Total number of rows in Menu table: {}\n".format(cursor.rowcount))
connection.commit()

# Populate Bookings table
cursor.execute("TRUNCATE TABLE Bookings")
cursor.execute(insert_bookings)
print("Total number of rows in Booking table: {}\n".format(cursor.rowcount))
connection.commit()

# Populate Orders table
cursor.execute("TRUNCATE TABLE Orders")
cursor.execute(insert_orders)
print("Total number of rows in Orders table: {}\n".format(cursor.rowcount))
connection.commit()

# Populate Employees table
cursor.execute("TRUNCATE TABLE Employees")
cursor.execute(insert_employees)
print("Total number of rows in Employees table: {}\n".format(cursor.rowcount))
connection.commit()

#close connection and return to pool

#Now we are going to create and connect a pool with 2 connections
# Import MySQLConnectionPool class
from mysql.connector.pooling import MySQLConnectionPool

# Import Error class
from mysql.connector import Error
import mysql.connector as connector
dbconfig={"database":"little_lemon_db", "user":"root", "password":"Kobe!1"}
try:
    pool = MySQLConnectionPool(pool_name="pool_b", pool_size=2, host='localhost', **dbconfig)
    print("The connection pool is created with name:", pool.pool_name)
    print("The pool size is:", pool.pool_size)
except Error as err:
    print("Error Code:", err.errno)
    print("Error Message:", err.msg)

#if done correctly then output should be The connection pool is created with name: pool_b The pool size is: 2
print("Getting a connection from the pool.")

connection = pool.get_connection()
cursor = connection.cursor()
# Dropping the procedure if it exists
try:
    cursor.execute("DROP PROCEDURE IF EXISTS PeakHours")
except connector.Error as err:
    print("Error dropping procedure: {}".format(err))
print("'connection' object is created with a connection from the pool")

#Now create a query for "PROCEDURE" for PeakHours
#Hour for hour in BookingSlot
#Count on hour to count number of bookings
#Group By on Booking hour, Order By on Bookings in descending order
peak_hours = """
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(BookingSlot) AS BookingHour, COUNT(*) AS NumberOfBookings
    FROM Bookings
    GROUP BY BookingHour
    ORDER BY NumberOfBookings DESC;
END;
"""
#running procedure query invoding execute moduel
cursor.execute(peak_hours)

#callproc to call stored procedure
cursor.callproc('PeakHours')

res = next(cursor.stored_results())
set = res.fetchall()

#Fetch results in dataset variable, and print results
for column_id in cursor.stored_results():
    cols = [column[0] for column in column_id.description]
print(cols)
for data in set:
    print(data)
#close connections, clean up
cursor.close()
connection.close()

Total number of rows in MenuItem table: 17

Total number of rows in Menu table: 12

Total number of rows in Booking table: 6

Total number of rows in Orders table: 5

Total number of rows in Employees table: 6

The connection pool is created with name: pool_b
The pool size is: 2
Getting a connection from the pool.
'connection' object is created with a connection from the pool
['BookingHour', 'NumberOfBookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [21]:
import mysql.connector as connector

# Assuming you have already created a connection pool named pool
connection = pool.get_connection()
cursor = connection.cursor()

# Drop the existing stored procedure if it exists
drop_query = "DROP PROCEDURE IF EXISTS GuestStatus"
cursor.execute(drop_query)

# Create the stored procedure
create_query = """
CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS GuestName,
           CASE e.Role
               WHEN 'Manager' THEN 'Ready to pay'
               WHEN 'Assistant Manager' THEN 'Ready to pay'
               WHEN 'Head Chef' THEN 'Ready to serve'
               WHEN 'Assistant Chef' THEN 'Preparing Order'
               WHEN 'Head Waiter' THEN 'Order served'
           END AS OrderStatus
    FROM Bookings b
    LEFT JOIN Employees e ON b.EmployeeID = e.EmployeeID;
END
"""
cursor.execute(create_query)

# Call the stored procedure
cursor.callproc('GuestStatus')

# Fetch the results and print
for result in cursor.stored_results():
    dataset = result.fetchall()
    columns = [column[0] for column in result.description]
    print("Column names:", columns)
    for row in dataset:
        print(row)

# Close the cursor and return the connection back to the pool
cursor.close()
connection.close()

Column names: ['GuestName', 'OrderStatus']
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')

In [22]:

#Task 1, establish a cconnection pool
# Import MySQLConnectionPool class
from mysql.connector.pooling import MySQLConnectionPool
# Import Error class
from mysql.connector import Error

# Step 2: Define your database configurations
dbconfig={"database":"little_lemon_db", "user":"root", "password":"Kobe!1"}

# Step 3: Establish a connection pool
try:
    pool = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("Connection pool 'pool_b' is created.")
    print("The pool size is:", pool.pool_size)
except Error as err:
    print(f"Error while creating connection pool: {err}")

# You can now use this pool to get connections to the database

Connection pool 'pool_b' is created.
The pool size is: 2

In [23]:

#Task 2 - Add a connection to add a 3rd guest, change the connections to allow for 3 guests to book res at same time
from mysql.connector import PoolError

# Define the booking details for the three guests
guests = [
    {"table_no": 8, "first_name": "Anees", "last_name": "Java", "booking_time": "18:00", "employee_id": 6},
    {"table_no": 5, "first_name": "Bald", "last_name": "Vin", "booking_time": "19:00", "employee_id": 6},
    {"table_no": 12, "first_name": "Jay", "last_name": "Kon", "booking_time": "19:30", "employee_id": 6}
]

# Function to insert booking data
def insert_booking(guest):
    try:
        # Get a connection from the pool
        conn = pool.get_connection()
        cursor = conn.cursor()
        insert_query = """
        INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
        VALUES (%s, %s, %s, %s, %s);
        """
        cursor.execute(insert_query, (guest['table_no'], guest['first_name'], guest['last_name'], guest['booking_time'], guest['employee_id']))
        conn.commit()
        cursor.close()
        conn.close()
        print(f"Booking for {guest['first_name']} {guest['last_name']} inserted and connection returned to pool.")
    except PoolError as e:
        print(f"Pool error occurred: {e}")

# Insert bookings for each guest
for guest in guests:
    insert_booking(guest)

Booking for Anees Java inserted and connection returned to pool.
Booking for Bald Vin inserted and connection returned to pool.
Booking for Jay Kon inserted and connection returned to pool.

In [24]:

#Task3 - name and employeeID of Little Lemon Manager
#The name and role of the employee who receives the highest salary.
#The number of guests booked between 18:00 and 20:00.
#The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.
import mysql.connector as connector

# Connect to the MySQL database
connection = connector.connect(user="root", password="Kobe!1", database="little_lemon_db")
cursor = connection.cursor()

# Query 1: Manager's Name and EmployeeID
cursor.execute("SELECT Name, EmployeeID FROM Employees WHERE Role = 'Manager';")
manager_info = cursor.fetchone()
print("Manager's Name and EmployeeID:", manager_info)

# Query 2: Employee with the Highest Salary
cursor.execute("SELECT Name, Role FROM Employees ORDER BY CAST(REPLACE(Annual_Salary, '$', '') AS DECIMAL(10, 2)) DESC LIMIT 1;")
highest_paid_employee = cursor.fetchone()
print("Highest Paid Employee's Name and Role:", highest_paid_employee)

# Query 3: Number of Guests Booked Between 18:00 and 20:00
cursor.execute("SELECT COUNT(*) FROM Bookings WHERE BookingSlot >= '18:00:00' AND BookingSlot <= '20:00:00';")
guest_count = cursor.fetchone()
print("Number of Guests Booked Between 18:00 and 20:00:", guest_count[0])

# Query 4: Guests Waiting to be Seated
cursor.execute("SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS FullName, BookingID FROM Bookings ORDER BY BookingSlot;")
waiting_guests = cursor.fetchall()
print("Guests Waiting to be Seated:")
for guest in waiting_guests:
    print(guest)

# Close the cursor and connection
cursor.close()
connection.close()

Manager's Name and EmployeeID: ('Mario Gollini', 1)
Highest Paid Employee's Name and Role: ('Mario Gollini', 'Manager')
Number of Guests Booked Between 18:00 and 20:00: 7
Guests Waiting to be Seated:
('Vanessa McCarthy', 3)
('Marcos Romero', 4)
('Anees Java', 7)
('Hiroki Yamane', 5)
('Anna Iversen', 1)
('Joakim Iversen', 2)
('Bald Vin', 8)
('Jay Kon', 9)
('Diana Pinto', 6)

In [25]:
#Task 4 - Create a stored procedure named BasicSalesReport that returns the following statistics: 
#Total sales
#Average sale
#Minimum bill paid
#Maximum bill paid

import mysql.connector as connector

# Connect to the MySQL database
connection = connector.connect(user="root", password="Kobe!1", database="little_lemon_db")
cursor = connection.cursor()

# Drop the procedure if it exists.do this to check so you don't get duplicate create errors
try:
    cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport")
    print("Previous 'BasicSalesReport' procedure dropped.")
except connector.Error as err:
    print("Error dropping procedure: {}".format(err))

# Create the stored procedure
basic_sales = """
CREATE PROCEDURE BasicSalesReport()
BEGIN
    SELECT
        SUM(BillAmount) AS TotalSales,
        AVG(BillAmount) AS AverageSale,
        MIN(BillAmount) AS MinBillPaid,
        MAX(BillAmount) AS MaxBillPaid
    FROM Orders;
END
"""
try:
    cursor.execute(basic_sales)
    print("Stored procedure 'BasicSalesReport' created successfully.")
except connector.Error as err:
    print("Error creating procedure: {}".format(err))

# Call the stored procedure
try:
    cursor.callproc('BasicSalesReport')

    # Fetch and print the results
    for result in cursor.stored_results():
        for row in result.fetchall():
            print(f"Total Sales: {row[0]}, Average Sale: {row[1]}, Minimum Bill Paid: {row[2]}, Maximum Bill Paid: {row[3]}")
except connector.Error as err:
    print("Error calling procedure: {}".format(err))

# Close the cursor and connection
cursor.close()
connection.close()

Previous 'BasicSalesReport' procedure dropped.
Stored procedure 'BasicSalesReport' created successfully.
Total Sales: 243, Average Sale: 48.6000, Minimum Bill Paid: 37, Maximum Bill Paid: 86

In [26]:

#Task 5:
#Little Lemon needs to display the next three upcoming bookings from the Bookings table on the kitchen screen to notify their chefs which orders are due next. To complete this task, carry out the following steps:
#Get a connection from the pool.
#Create a buffered cursor
#Combine the data from the Bookings and the Employee tables. Sort the retrieved records in ascending order. Then display the information of the first three guests.
#Returned the connection back to the pool.

import mysql.connector as connector

# Assuming 'pool' is the MySQLConnectionPool object already created
connection = pool.get_connection()
cursor = connection.cursor(buffered=True)

# SQL query to retrieve the next three upcoming bookings
query = """
SELECT 
    b.BookingID, 
    CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS GuestName, 
    b.BookingSlot, 
    e.Name AS EmployeeName, 
    e.Role
FROM Bookings b
JOIN Employees e ON b.EmployeeID = e.EmployeeID
ORDER BY b.BookingSlot ASC
LIMIT 3;
"""

# Execute the query
cursor.execute(query)

# Display the results
print("Next Three Upcoming Bookings:")
for booking_id, guest_name, booking_slot, employee_name, role in cursor:
    print(f"Booking ID: {booking_id}, Guest Name: {guest_name}, Booking Slot: {booking_slot}, Employee: {employee_name}, Role: {role}")

# Close the cursor
cursor.close()

# Return the connection back to the pool
connection.close()

Next Three Upcoming Bookings:
Booking ID: 3, Guest Name: Vanessa McCarthy, Booking Slot: 15:00:00, Employee: Giorgos Dioudis, Role: Head Chef
Booking ID: 4, Guest Name: Marcos Romero, Booking Slot: 17:30:00, Employee: Fatma Kaya, Role: Assistant Chef
Booking ID: 7, Guest Name: Anees Java, Booking Slot: 18:00:00, Employee: John Millar, Role: Receptionist